<!-- include header -->
<%- include('./partials/header') %>
<!-- end header -->

<div class="add-new-user">
    <div class="add-user w-100 d-flex justify-content-center align-items-center">
        <h1>Update User</h1>
    </div>
    <div class="back-to-home mb-4">
        <a href="/"><i class="bi bi-house-fill"></i> Back to Home</a>
    </div>

    <input id="userId" class="d-none" type="text" value="<%= _id %>">

    <div class="update-user-form">

        <form id="update-user" class="update-user">

            <div class="mb-3">
                <label for="name" class="form-label fw-bold">Name</label>
                <input type="text" class="form-control" id="update-name" placeholder="Ronel Florida" value="<%= name %>">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label fw-bold">Email</label>
                <input type="email" class="form-control" id="update-email" placeholder="example@gmail.com" value="<%= email %>">
            </div>
            <div class="mb-3">
                <label for="age" class="form-label fw-bold">Age</label>
                <input type="age" class="form-control w-50" id="update-age" placeholder="Enter your age..." value="<%= age %>">
            </div>
            
            <!-- gender -->
            <div class="gender-select d-flex flex-column mb-4 gap-3">
                <label class="fw-bold">Gender</label>
                <div class="gender-select">
                        <div class="form-check-inline ml-4">
                            <label class="form-check-label" for="male">Male</label>
                            <input class="form-check-input" type="radio" name="gender" id="update-male" value="Male" 
                            <%if(gender === 'Male'){%>
                               <%="checked"%>
                            <%}%>
                            >
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label" for="female">Female</label>
                            <input class="form-check-input" type="radio" name="gender" id="update-female" value="Female"
                            <%if(gender === 'Female'){%>
                                <%="checked"%>
                            <%}%>
                            >
                        </div>
                </div>
               
            </div>

            <!-- status -->
            <div class="gender-select d-flex flex-column mb-4 gap-3">
                <label class="fw-bold">Status</label>
                <div class="gender-select">
                    <div class="form-check-inline ml-4">
                        <label class="form-check-label" for="active">Active</label>
                        <input class="form-check-input" type="radio" name="status" id="update-active" value="Active"
                        <%if(status === 'Active'){%>
                            <%="checked"%>
                        <%}%>
                        >
                        
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label" for="inactive">InActive</label>
                        <input class="form-check-input" type="radio" name="status" id="update-inactive" value="InActive"
                        <%if(status === 'InActive'){%>
                            <%="checked"%>
                        <%}%>
                        >
                    </div>
                </div>
               
            </div>
           
            <!-- button -->
            <button class="btn w-100" type="submit">Save</button>

        </form>

    </div>
    
</div>

<script src="/script/updateData.js"></script>
   

<!-- include footer -->
<%- include('./partials/footer') %>
<!-- end footer -->